/* Service Event Details */
.event-details {
  margin-bottom: 1.2rem;
}

.item-column1-row3 .event-details:last-child {
  margin-bottom: 0;
}

.description-content {
  margin-top: 1.2rem;
}

/* School Details */
.school-grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.school-item {
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.school-item-row1 {
  grid-row: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.school-item-row2 {
  grid-row: 2 / span 2;
}

.school-item-row3 {
  grid-row: 4;
  display: flex;
  align-items: center;
}

/* Details Content */
.content {
  display: flex;
  flex-direction: column;
}

/* Update Status Section */
.update-status-box form {
  display: flex;
  align-items: center;
}

.update-status-box .select-container {
  margin-bottom: 0;
}

/* Side by Side Layout */
.side-by-side {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.side-by-side:last-child {
  margin-right: 0;
}