/* CSS Variables */
:root {
  --primary-color: #002B5B;    /* Navy Blue */
  --secondary-color: #87CEEB;  /* Sky Blue */
  --accent-color: #28A745;     /* Green */
  --background-color: #F8F9FA; /* Light Grey */
  --text-color: #343A40;       /* Dark Grey */
  --highlight-color: #FFA500;  /* Orange */
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;  /* Sets up 1rem = 10px */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 2.4rem;
}

/* Basic Image Styles */
.img-logo {
  height: 5rem;
}

.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}

/* Common Layout Utilities */
.center-items {
  display: grid;
  place-items: center;
  padding-top: 6.4rem;
}