/* Main Sidebar */
.sidebar {
  grid-area: side;
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Side Column */
.side-column {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-column .img-logo {
  margin-top: 2.4rem;
}

.side-column .back-btn {
  margin-top: 2.4rem;
}

/* Select Containers */
.select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 25rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.select-box {
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 20px;
  width: 25rem;
  height: 4.5rem;
  border-color: var(--text-color);
}

/* Filter Button Box */
.filter-btn-box {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin: 1rem 0;
}

/* Progress Widget */
.progress-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.widget-heading {
  padding-bottom: 2rem;
}

.student-school-name {
  text-align: center;
  padding-bottom: 1.4rem;
}

.progress {
  position: relative;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 1.6rem;
  height: 2rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.progress-bar {
  position: absolute;
  height: 100%;
  text-align: center;
  line-height: 2rem;
  transition: width 0.5s;
}

.progress .submitted-hours {
  background-color: var(--secondary-color);
  z-index: 1;
}

.progress .approved-hours {
  background-color: var(--accent-color);
  z-index: 2;
}

.progress-text {
  margin-bottom: 1rem;
  color: var(--background-color);
}

.submitted-text {
  color: var(--secondary-color);
}

.approved-text {
  color: var(--accent-color);
}