:root {
	--primary-color: #002B5B;
	/* Navy Blue */
	--secondary-color: #87CEEB;
	/* Sky Blue */
	--accent-color: #28A745;
	/* Green */
	--background-color: #F8F9FA;
	/* Light Grey */
	--text-color: #343A40;
	/* Dark Grey */
	--highlight-color: #FFA500;
	/* Orange */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 2.4rem;
}

.index-page {
	background-image: url('/assets/index-background.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.body--grid {
	display: grid;
	grid-template-areas: "nav nav" "side welcome" "side main";
	grid-template-columns: 25% 1fr;
	grid-template-rows: auto auto 1fr;
	margin: 0;
	height: 100vh;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/

.heading-primary {
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.05;
	color: var(--text-color);
	letter-spacing: -0.5px;
	margin-bottom: 3.2rem;
}

.heading-secondary {
	font-size: 3.6rem;
	font-weight: 500;
	letter-spacing: -0.5px;
}

.small-text {
	font-size: 1.8rem;
}

.text-center {
	text-align: center;
}

.text-center a {
	color: var(--accent-color);
	text-decoration: none;
}

.text-center a:hover {
	text-decoration: underline;
}

.center-items {
	display: grid;
	place-items: center;
	padding-top: 6.4rem;
}

.img-logo {
	height: 5rem;
}


/***********   INDEX / AUTHORIZATION TEMPLATES   ***********/

/**************************/
/* HEADER / NAVIGATION    */
/**************************/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 9.6rem;
	padding: 0 4.8rem;
}

/**** Container for sign-in links and register button ****/
.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3.2rem;
}

/**************************/
/* INDEX - HERO SECTION   */
/**************************/

.section-hero {
	padding: 4.2rem;
}

.hero {
	max-width: 140rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4.2rem;
	align-items: center;
}

.hero-description {
	font-size: 2.4rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-text-box {
	background-color: var(--background-color);
}

.hero-img-box {
	display: grid;
}

.hero-img {
	width: 80%;
	justify-self: center;
	border-radius: 74% 26% 67% 33% / 28% 73% 27% 72%;
}

/**************************/
/* AUTHORIZATION FORMS    */
/**************************/

.section-form {
	width: 100%;
	max-width: 50rem;
	padding: 2rem;
	border-radius: 10px;
}

.auth-form {
	display: flex;
	flex-direction: column;
}

.auth-form .heading-secondary {
	margin-bottom: 2.4rem;
}

.auth-form .form-group {
	margin-bottom: 2rem;
}

.auth-form input,
.auth-form select {
	width: 100%;
	padding: 1rem;
	font-size: 2rem;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
}

/*********** "DASHBOARD" & "DETAILS" TEMPLATES ***********/

/**************************/
/* HEADER / NAVIGATION    */
/**************************/

.navbar {
	grid-area: nav;
	height: 9.6rem;
	padding: 0 4.8rem;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	background-color: var(--primary-color);
	color: var(--background-color);
}

.navbar .img-logo {
	padding-right: 4rem;
}

.navbar-nav {
	list-style-type: none;
	display: flex;
	gap: 5rem;
	justify-content: left;
}

.navbar-nav li:last-child {
	margin-right: 0;
	margin-left: 0;
}

.nav-box {
	flex-grow: 1;
	text-align: left;
}

.rounded-circle {
	border-radius: 50%;
	object-fit: cover;
	height: 5rem;
	width: 5rem;
	margin-right: 2rem;
}

.display-name {
	padding-right: 2.4rem;
	font-size: 2.4rem;
	font-weight: 600;
}

.user-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
}

/**************************/
/* SECTION - SIDE NAV     */
/**************************/

.sidebar {
	grid-area: side;
	background-color: var(--primary-color);
	color: white;
	padding: 2rem;
	box-sizing: border-box;
	height: 100%;

	display: flex;
	flex-direction: column;

	align-items: center;
}

.select-container {
	display: flex;
	justify-content: center;
	position: relative;
	min-width: 25rem;
	height: 4rem;
	margin-bottom: 2rem;
}

.select-box {
	padding: 0 3rem 0 1.5rem;
	width: 100%;
	font-size: 1.6rem;
	font-weight: 600;
}

.filter-btn-box {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 1rem 0;
}

/**************************/
/* WELCOME MESSAGE        */
/**************************/

.welcome-message {
	grid-area: welcome;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 2rem;
}

.box {
	border-radius: 25px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
	width: 100%;
	padding: 2rem;
}

.welcome-message h1 {
	margin: 0;
}

/**************************/
/* MAIN CONTENT - DASH    */
/**************************/

.main-content {
	grid-area: main;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-sizing: border-box;
	overflow: auto;
}

.main-secondary-title {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.list-box {
	border-radius: 25px;
	background-color: white;
	padding: 2rem;
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
}

.item-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	border: 1px solid var(--text-color);
	margin-bottom: 10px;
	border-radius: 25px;
	font-size: 1.8rem;
}

.item-row:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-info {
	flex: 1;
}

.item-name {
	text-align: left;
	font-weight: bold;
}

.service-user {
	text-align: left;
}

.school-location {
	text-align: left;
}

/*used in js for status pill*/
.item-info.service-status {
	flex: 0 0 250px;
	display: flex;
	justify-content: center;
}

.item-info.hours-required {
	flex: 0 0 250px;
	display: flex;
	justify-content: left;
}

.item-link {
	text-decoration: none;
	color: var(--text-color);
}

.create-new {
	display: flex;
	align-items: center;
	padding-bottom: 2rem;
}

/**********************************/
/* MAIN CONTENT - SERVICE DETAILS */
/**********************************/

.grid-container {
	display: grid;
	grid-template-rows: auto 0.8fr 0.6fr 0.6fr auto;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 1rem;
}

.item {
	padding: 20px;
	border: 1px solid var(--secondary-color);
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-row1 {
	grid-column: 1 / span 2;
	grid-row: 1;
	display: flex;
	justify-content: left;
	align-items: center;
}

.item-column1-row2 {
	grid-column: 1;
	grid-row: 2 / span 1;
	display: flex;
	align-items: center;
}

.item-column1-row3 {
	grid-column: 1;
	grid-row: 3 / span 3;
	display: flex;
	align-items: center;
}

.event-details {
	margin-bottom: 1.2rem;
}

.item-column1-row3 .event-details:last-child {
	margin-bottom: 0;
}

.item-column2 {
	grid-column: 2;
	grid-row: 2 / span 4;
}

.heading-description {
	font-size: 2.4rem;
	font-weight: 700;
}

.description-content {
	margin-top: 1.2rem;
}

.item-row6 {
	grid-column: 1 / span 2;
	grid-row: 6;
	display: flex;
	align-items: center;
}

.update-status-box form {
	display: flex;
	align-items: center;
}

.update-status-box .select-container {
	margin-bottom: 0;
}

.status-dropdown {
	margin-right: 2.4rem;
}

/**********************************/
/* MAIN CONTENT - SCHOOL DETAILS  */
/**********************************/

.school-grid-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 20px;
}

.school-item {
	padding: 20px;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.school-item-row1 {
	grid-row: 1;
	display: flex;
	justify-content: left;
	align-items: center;
}

.school-item-row2 {
	grid-row: 2 / span 2;
}

.school-item-row3 {
	grid-row: 4;
	display: flex;
	align-items: center;
}

.action-btns {
	display: flex;
	gap: 2rem;
}



/**************************/
/* STATUS PILLS           */
/**************************/

.status-pill {
	display: inline-block;
	padding: 0.8rem 1.6rem;
	border-radius: 50px;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	margin-right: 0.8rem;
	width: 50%;
	text-align: center;
}

.status-submitted {
	background-color: #6ca5bc;
}

.status-modify {
	background-color: var(--highlight-color);
}

.status-approved {
	background-color: var(--accent-color);
}


/***********  ENTITY FORMS: ADD/UPDATE TEMPLATES   ***********/
/***********  PROFILE & ADD SCHOOL/EVENT           ***********/

/*****************************/
/* ENTITY FORMS: GENERAL     */
/*****************************/
.grid-entity-form {
	display: grid;
	grid-template-columns: 25% 1fr;
	gap: 1rem;
	margin: 0;
	height: 100vh;
}

/*****************************/
/* ENTITY FORMS: SIDE COLUMN */
/*****************************/
.side-column {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-column .img-logo {
	margin-top: 2.4rem;
}

.side-column .back-btn {
	margin-top: 2.4rem;
}

/*****************************/
/* ENTITY FORM SECTION       */
/*****************************/

.entity-form-container {
	width: 100%;
	max-width: 120rem;
	padding: 2rem;
	border-radius: 10px;
}

.entity-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100rem;
	padding: 2rem;
	border-radius: 10px;
}

.entity-form .form-group {
	margin-bottom: 2rem;
}

.entity-form input {
	width: 100%;
	padding: 1.5rem;
	font-size: 2.4rem;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	height: 6rem;
}

.form-heading {
	padding-bottom: 3.2rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.input-field {
	flex: 1;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.input-field:last-child {
	margin-right: 0;
}

/**********************/
/*  BUTTONS / LINKS   */
/**********************/

/**** Index - Start Tracking ****/
.btn:link,
.btn:visited {
	display: inline-block;
	background-color: var(--accent-color);
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	padding: 1.6rem 3.2rem;
	border-radius: 150px;

	transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
	background-color: #24963e;
}

/**** Auth - Register Button ****/
.main-nav-list .btn:link,
.main-nav-list .btn:visited {
	padding: 1.2rem 2.4rem;
}

/**** Back Button            ****/
.back-btn:link,
.back-btn:visited {
	background-color: var(--secondary-color);
	color: black;
	text-align: center;
	width: 75%;
}

.back-btn:hover,
.back-btn:active {
	background-color: #7ab9d4;
}

/**** Auth - Sign-In Links   ****/
/**** Dashboard - Nav Links  ****/
.nav-link:link,
.nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--background-color);
	font-weight: 500;
	font-size: 2rem;
	transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
	color: var(--accent-color);
}

.sign-in-btn:link,
.sign-in-btn:visited {
	color: var(--accent-color);
}

/**** Dashboard - Logout Btn ****/
a.border-btn {
	display: inline-block;
	background-color: transparent;
	color: var(--accent-color);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	padding: 1.2rem 2.4rem;
	box-shadow: inset 0 0 0 3px var(--accent-color);
	border-radius: 150px;

	transition: background-color 0.3s, color 0.3s;
}

a.border-btn:hover,
a.border-btn:active {
	background-color: #24963e;
	color: #fff;
	box-shadow: inset 0 0 0 3px #24963e;
}

/**** Auth Form Button     ****/
.formbtn {
	padding: 1rem;
	font-size: 2rem;
	background-color: var(--accent-color);
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	border: none;
	border-radius: 150px;
	cursor: pointer;
	margin-bottom: 2rem;
}

.formbtn:hover {
	background-color: #24963e;
}

.delete-btn {
	background-color: transparent;
	color: #DC143C;
	box-shadow: inset 0 0 0 3px #DC143C;
}

.delete-btn:hover {
	background-color: #DC143C;
	color: #fff;
}

/**** Admin Filter Buttons  ****/

.filter-btn {
	background-color: var(--secondary-color);
	padding: 1.2rem 2.4rem;
}

.filter-btn:hover {
	background-color: #7ab9d4;
}

/**** Entity Form Button  ****/
.entity-form .formbtn {
	padding: 2rem 4rem;
	width: 50%;
}

.action-btns .formbtn {
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
	margin-bottom: 0;
}