body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 5px;
}
.header img {
  height: 125px;
}

/*Navigation Links*/
.nav-links a {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 3px;
  text-decoration: none;
  color: #265791;
  position: relative;
  font-size: 1.7rem;
  font-weight: bold;
}
.nav-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f18814;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*Main Section*/

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  position: relative;
  background: url("/assets/blob-haikei.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 120%;
  margin: 0 auto;
}

.hero-content {
  max-width: 700px;
  margin-right: 20px;
  margin-bottom: 200px;
  position: relative;
}
.hero-content h1 {
  font-size: 4em;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 2em;
  margin-bottom: 20px;
}

/*Wavy Section Transition*/

.custom-shape-divider-bottom-1718998116 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718998116 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1718998116 .shape-fill {
  fill: #265791;
}

/*Button*/

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220.52px;
  min-height: 56px;
  font-family: calibri;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s linear;
}

.gs {
  font-size: 30px;
  font-weight: 700;
  padding: 0 10px;
}
ion-icon {
  font-size: 2em;
  transition: all 0.5s linear;
}

.btn:hover ion-icon {
  transform: rotate(-90deg);
}
.gsbtn {
  position: relative;
  width: 35%;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.register {
  background: none;
  color: black;
  align-items: center;
  justify-content: center;
}

.register::before {
  content: "";
  display: block;
  width: 65px;
  height: 100%;
  background-color: #f18814;
  position: absolute;
  border-radius: 100px;
  left: 1em;
  z-index: -1;
  transition: all 600ms ease;
}

.register:hover::before {
  width: 100%;
}

.register:hover ion-icon {
  transform: translateX(10px);
}

/*Main Image*/

.teen-img {
  max-width: 37%;
  height: auto;
  border-radius: 74% 26% 67% 33% / 28% 73% 27% 72%;
  z-index: 1;
  margin-right: 60px;
}

/*Underline of clarity*/

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 10px #f18814;
  left: 0;
  bottom: -13px;
  border-radius: 50% 100%;
  height: 13px;
}

/*Next Section*/

.two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  height: 350px;
  background-color: #265791;
}

