<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<script src="https://kit.fontawesome.com/aaae10360c.js" crossorigin="anonymous"></script>
</head>

<body class="body--grid">
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" alt="ServiceTally Logo" th:src="@{/assets/logo-white.png}" />
		</a>
		<div class="nav-box">
			<ul class="navbar-nav">
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/schools/}">
						<i class="fa-solid fa-school"></i>
						<span>Manage School</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/dashboard/}">
						<i class="fa-solid fa-list-ul"></i>
						<span>View Service Events</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/admin-profile/}">
						<i class="fa-solid fa-user-pen"></i>
						<span>Edit Account</span>
					</a>
				</li>

				<li sec:authorize="hasAuthority('Student')" class="nav-item">
					<a class="nav-link" th:href="@{/dashboard/add}">
						<i class="fa-solid fa-plus"></i>
						<span>Log New Service</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Student')" class="nav-item">
					<a class="nav-link" th:href="@{/dashboard/}">
						<i class="fa-solid fa-list-ul"></i>
						<span>View Service Events</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Student')" class="nav-item">
					<a class="nav-link" th:href="@{/student-profile/}">
						<i class="fa-solid fa-user-pen"></i>
						<span>Edit Profile</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="user-profile">
			<img class="rounded-circle" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}" />
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
				class="display-name"></label>
			<a class="border-btn" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<form sec:authorize="hasAuthority('Admin')" action="/dashboard/" method="get">
			<!--Filter by Student-->
			<div class="select-container">
				<select class="select-box" name="userAccountId">
					<option value="">Select Student</option>
					<option th:each="student : ${students}" th:value="${student.userAccountId}"
						th:text="${student.firstName + ' ' + student.lastName}"
						th:selected="${student.userAccountId == studentIdFilter}"></option>
				</select>
			</div>
			<!--Filter by School-->
			<div class="select-container">
				<select class="select-box" name="schoolId">
					<option value="">Select School</option>
					<option th:each="school : ${schools}" th:value="${school.schoolId}" th:text="${school.schoolName}"
						th:selected="${school.schoolId == schoolIdFilter}">
					</option>
				</select>
			</div>
			<!--Filter by status-->
			<div class="select-container">
				<select class="select-box" name="status">
					<option value="">Select Status</option>
					<option th:each="statusOption : ${statusOptions}" th:value="${statusOption.name()}"
						th:text="${statusOption.name()}" th:selected="${statusOption.name() == statusFilter}">
					</option>
				</select>
			</div>
			<div class="filter-btn-box">
				<button class="formbtn filter-btn" type="submit">Filter</button>
				<button class="formbtn filter-btn" type="button" onclick="resetFilters()">Reset</button>
			</div>
		</form>
		<script th:inline="javascript">
			function resetFilters() {
				window.location.href = '/dashboard/';
			}
		</script>

		<div class="progress-box" sec:authorize="hasAuthority('Student')">
			<h2 class="heading-secondary">My Progress</h2>
			<div>
				<h3>Submitted Hours</h3>
				<div class="this-out-of-that"
					th:text="${serviceHoursDto.submittedHours} + ' / ' + ${serviceHoursDto.requiredHours} + ' hours'"></div>
				<div class="progress">
					<div th:style="'width:' + ${serviceHoursDto.submittedHours / serviceHoursDto.requiredHours * 100} + '%'"
						class="progress-bar submitted-hours">
					</div>
				</div>
			</div>
			<div>
				<h3>Approved Hours</h3>
				<div class="this-out-of-that"
					th:text="${serviceHoursDto.approvedHours} + ' / ' + ${serviceHoursDto.requiredHours} + ' hours'"></div>
				<div class="progress">
					<div th:style="'width:' + ${serviceHoursDto.approvedHours / serviceHoursDto.requiredHours * 100} + '%'"
						class="progress-bar approved-hours">
					</div>
				</div>
			</div>
		</div>

	</section>

	<div class="welcome-message">
		<div class="box" sec:authorize="hasAuthority('Student')">
			<h1 class="heading-secondary">Student Dashboard - My Service Events</h1>
		</div>

		<div class="box" sec:authorize="hasAuthority('Admin')">
			<h1 class="heading-secondary">Admin Dashboard - Search Results</h1>
		</div>
	</div>

	<main class="main-content">
		<div class="list-box">
			<div sec:authorize="hasAuthority('Student')" class="create-new">
				<a th:href="@{/dashboard/add}" class="btn btn-primary">Log New Service</a>
			</div>
			<th:block th:each="serviceEvent : ${serviceEvent}">
				<a th:href="@{/service-details/{id}(id=${serviceEvent.eventId})}" class="item-link">
					<div class="item-row" onclick="window.location='/service-details/{id}(id=${serviceEvent.eventId})'">
						<div class="item-info">
							<label class="item-name">[[${serviceEvent.serviceTitle}]]</label>
						</div>
						<div class="item-info service-user">
							<label th:text="${serviceEvent.firstName+' '+serviceEvent.lastName}">Posted By</label>
						</div>
						<div class="item-info service-status">
							<label th:text="@{${serviceEvent.status}}">Event Status</label>
						</div>
					</div>
				</a>
			</th:block>
		</div>
	</main>
	<script th:src="@{/js/script.js}"></script>

</body>

</html>