<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body class="body--grid">
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" src="/assets/Logo5.png" alt="ServiceTally Logo" th:src="@{/assets/Logo5.png}" />
		</a>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Student')" class="nav-link" th:href="@{/dashboard/add}">Log New
						Service</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Student')" class="nav-link" th:href="@{/student-profile/}">Edit
						Profile</a>
				</li>

				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/schools/}">Manage School</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/dashboard/}">View Service
						Events</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/admin-profile/}">Edit
						Account</a>
				</li>
			</ul>
		</div>
		<div>
			<img class="rounded-circle" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}" />
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
				class="display-name"></label>
			<a class="border-btn" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<form sec:authorize="hasAuthority('Admin')" action="/dashboard/" method="get">
			<!--Filter by Student-->
			<div class="select-container">
				<select class="select-box" name="userAccountId">
					<option value="">Select Student</option>
					<option th:each="student : ${students}" th:value="${student.userAccountId}"
						th:text="${student.firstName + ' ' + student.lastName}"
						th:selected="${student.userAccountId == studentIdFilter}"></option>
				</select>
			</div>
			<!--Filter by School-->
			<div class="select-container">
				<select class="select-box" name="schoolId">
					<option value="">Select School</option>
					<option th:each="school : ${schools}" th:value="${school.schoolId}" th:text="${school.schoolName}"
						th:selected="${school.schoolId == schoolIdFilter}">
					</option>
				</select>
			</div>
			<!--Filter by status-->
			<div class="select-container">
				<select class="select-box" name="status">
					<option value="">Select Status</option>
					<option th:each="statusOption : ${statusOptions}" th:value="${statusOption.name()}"
						th:text="${statusOption.name()}" th:selected="${statusOption.name() == statusFilter}">
					</option>
				</select>
			</div>
			<div class="filter-btn-box">
				<button class="formbtn filter-btn" type="submit">Filter</button>
				<button class="formbtn filter-btn" type="button" onclick="resetFilters()">Reset</button>
			</div>
		</form>
		<script th:inline="javascript">
			function resetFilters() {
				window.location.href = '/dashboard/';
			}
		</script>

	</section>

	<div class="welcome-message">
		<div class="box" sec:authorize="hasAuthority('Student')">
			<h1 class="heading-secondary">Student Dashboard - My Service Events</h1>
		</div>

		<div class="box" sec:authorize="hasAuthority('Admin')">
			<h1 class="heading-secondary">Admin Dashboard - Search Results</h1>
		</div>
	</div>

	<main class="main-content">
		<div class="event-list-box">
			<th:block th:each="serviceEvent : ${serviceEvent}">
				<a th:href="@{/service-details/{id}(id=${serviceEvent.eventId})}" class="service-link">
					<div class="service-row"
						onclick="window.location='/service-details/{id}(id=${serviceEvent.eventId})'">
						<div class="service-info">
							<label class="job-title">[[${serviceEvent.serviceTitle}]]</label>
						</div>
						<div class="service-info service-date">
							<label th:text="${serviceEvent.firstName+' '+serviceEvent.lastName}">Posted By</label>
						</div>
						<div class="service-info service-status">
							<label th:text="@{${serviceEvent.status}}">Event Status</label>
						</div>
					</div>
				</a>
			</th:block>
		</div>
	</main>

</body>

</html>