<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ServiceTally</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body>
	<header class="header">
		<img class="img-logo" src="/assets/Logo5.png" alt="ServiceTally Logo" th:src="@{/assets/Logo5.png}" />
		<nav class="main-nav">
			<ul class="main-nav-list">
				<li><a class="nav-link" th:href="@{/login}">Sign-In Student</a></li>
				<li><a class="nav-link" th:href="@{/login}">Sign-In Admin</a></li>
				<li><a class="nav-link nav-cta" th:href="@{/register}">Register</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="section-hero">
			<div class="hero">
				<div class="hero-text-box">
					<h1 class="heading-primary">
						Bringing <span class="underline">Clarity</span> to Service Hour
						Tracking
					</h1>
					<p class="hero-description">
						Easily track, manage, and approve student service hours with our
						intuitive platform.
					</p>
					<a th:href="@{/register}" class="btn">Start tracking &rarr;</a>
				</div>
				<div class="hero-img-box">
					<img src="/images/foodbank teens.webp" class="hero-img" alt="Teens at foodbank"
						th:src="@{/assets/foodbank teens.webp}" />
				</div>
			</div>
		</section>
	</main>
</body>

</html>