<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
	<script src="https://kit.fontawesome.com/aaae10360c.js" crossorigin="anonymous"></script>
</head>

<body class="body--grid">
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" alt="ServiceTally Logo" th:src="@{/assets/logo-white.png}" />
		</a>
		<div class="nav-box">
			<ul class="navbar-nav">
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/schools/}">
						<i class="fa-solid fa-school"></i>
						<span>Manage School</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/dashboard/}">
						<i class="fa-solid fa-list-ul"></i>
						<span>View Service Events</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/admin-profile/}">
						<i class="fa-solid fa-user-pen"></i>
						<span>Edit Account</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="user-profile">
			<img class="rounded-circle" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}" />
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
				class="display-name"></label>
			<a class="border-btn" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<form sec:authorize="hasAuthority('Admin')" action="/overview/" method="get">
			<!--Filter by Graduation Year-->
			<div class="select-container">
				<select class="select-box" name="graduationYears">
					<option value="">Select Graduation Year</option>
					<option th:each="gradYear : ${graduationYears}" th:value="${gradYear}"
						th:text="${gradYear}"
						th:selected="${gradYear == graduationYearFilter}"></option>
				</select>
			</div>
			<!--Filter by School-->
			<div class="select-container">
				<select class="select-box" name="schoolId">
					<option value="">Select School</option>
					<option th:each="school : ${schools}" th:value="${school.schoolId}" th:text="${school.schoolName}"
						th:selected="${school.schoolId == schoolIdFilter}">
					</option>
				</select>
			</div>
			<!--Filter by completed status-->
			<div class="select-container">
				<select class="select-box" name="completedStatus">
					<option value="">Select Status</option>
					<option th:each="status : ${completedStatusOptions}" th:value="${status.name()}"
						th:text="${status.name()}" th:selected="${status.name() == completedStatusFilter}">
					</option>
				</select>
			</div>
			<div class="filter-btn-box">
				<button class="formbtn filter-btn" type="submit">Filter</button>
				<button class="formbtn filter-btn" type="button" onclick="resetFilters()">Reset</button>
			</div>
		</form>
		<script th:inline="javascript">
			function resetFilters() {
				window.location.href = '/overview/';
			}
		</script>

	</section>

	<div class="welcome-message">
		<div class="box" sec:authorize="hasAuthority('Admin')">
			<h1 class="heading-secondary">Admin Dashboard - Search Results</h1>
		</div>
	</div>

	<main class="main-content">
		<div class="list-box">
			<th:block th:each="graduationClass : ${graduationClass}">
				<a class="item-link">
					<div class="item-row">
						<div class="item-info service-user">
							<label th:text="${graduationClass.firstName+' '+graduationClass.lastName}">Posted By</label>
						</div>
						<div class="item-info">
							<label class="item-name" th:text="${graduationClass.approvedHours + ' Approved Hours'}">Approved Hours</label>
						</div>
						<div class="item-info service-completed-status">
							<label th:text="@{${graduationClass.completedStatus}}">Event Status</label>
						</div>
					</div>
				</a>
			</th:block>
		</div>
	</main>
	<script th:src="@{/js/script.js}"></script>

</body>

</html>