<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiceTally</title>
    <link rel="stylesheet" href="/st-edits/style.css" />
  </head>
  <body class="grid-profile">
    <div class="picture-background">
      <img class="img-logo" src="/Logo5.png" alt="logo" />
    </div>

    <div class="profile center-items">
      <form
        class="profile-form"
        th:object="${school}"
        method="post"
        action="@{/school/}"
      >
        <div>
          <h1 class="heading-primary text-center">School</h1>
        </div>

        <div class="form-heading">
          <h2 class="heading-secondary text-center">Set up your profile</h2>
        </div>

        <div class="row">
          <input
            class="input-field"
            placeholder="School Name"
            id="school-name"
            th:field="*{schoolName}"
            name="school-name"
            type="text"
          />
          <input
            class="input-field"
            placeholder="Hours Required"
            id="hours-required"
            th:field="*{hoursRequired}"
            name="hours-required"
            type="number"
          />
        </div>

        <div class="row">
          <input
            class="input-field"
            placeholder="City"
            id="city"
            th:field="*{city}"
            name="city"
            type="text"
          />
          <input
            class="input-field"
            placeholder="State"
            id="state"
            th:field="*{state}"
            name="state"
            type="text"
          />
        </div>
        <div class="center-items">
          <button class="formbtn" type="submit" name="submit">
            Save Profile
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
