<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<script src="https://kit.fontawesome.com/aaae10360c.js" crossorigin="anonymous"></script>
</head>

<body class="body--grid">
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" alt="ServiceTally Logo" th:src="@{/assets/logo-white.png}" />
		</a>
		<div class="nav-box">
			<ul class="navbar-nav">
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/schools/}">
						<i class="fa-solid fa-school"></i>
						<span>Manage School</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/dashboard/}">
						<i class="fa-solid fa-list-ul"></i>
						<span>View Service Events</span>
					</a>
				</li>
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a class="nav-link" th:href="@{/admin-profile/}">
						<i class="fa-solid fa-user-pen"></i>
						<span>Edit Account</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="user-profile">
			<img class="rounded-circle" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}" />
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
				class="display-name"></label>
			<a class="border-btn" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<a class="btn back-btn" th:href="@{/schools/}">Back</a>
	</section>

	<main class="main-content">
		<div class="school-grid-container">
			<!-- Section 1: School Name -->
			<div class="school-item school-item-row1">
				<h4 th:text="${school.schoolName}">Somewhere High School</h4>
			</div>

			<!-- Section 2: Location and Hours Required -->
			<div class="school-item school-item-row2">
				<div class="content">
					<div class="icon-text-pair">
						<i class="fa-solid fa-location-dot"></i>
						<p th:text="${school.city + ', ' + school.state}">Mentor, Ohio</p>
					</div>
					<div class="icon-text-pair">
						<i class="fa-solid fa-clock"></i>
						<p th:text="${school.hoursRequired + ' hours required'}">40 hours required</p>
					</div>
				</div>
			</div>

			<!-- Section 3: Edit and Delete Buttons -->
			<div class="school-item school-item-row3">
				<div class="action-btns">
					<div class="side-by-side">
						<form sec:authorize="hasAuthority('Admin')"
							th:action="@{/schools/edit/{id}(id=${school.schoolId})}" method="get">
							<button class="formbtn edit-btn" type="submit">Edit School</button>
						</form>
					</div>
					<div class="side-by-side">
						<form sec:authorize="hasAuthority('Admin')"
							th:action="@{/schools/delete/{id}(id=${school.schoolId})}" method="post">
							<button class="formbtn delete-btn" type="submit">Delete School</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>