<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
</head>

<body>
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" src="/assets/Logo5.png" alt="ServiceTally Logo" th:src="@{/assets/Logo5.png}" />
		</a>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/schools/}">Manage School</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/dashboard/}">View Service
						Events</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/admin-profile/}">Edit
						Account</a>
				</li>
			</ul>
		</div>
		<div th:if="${adminProfile != null}">
			<!--<img class="rounded-circle" th:if="${adminProfile.photosImagePath!=null}"
				th:src="${adminProfile.getPhotosImagePath()}" alt="Admin Profile Picture" />
			<span th:unless="${adminProfile.getPhotosImagePath() != null}"></span>
			
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${user.username}"
				class="display-name"></label>-->

			<a class="logout" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<form method="get" th:action="@{/dashboard/}">
			<button class="" type="submit">Back</button>
		</form>
	</section>

	<div class="welcome-message">
		<div class="box" sec:authorize="hasAuthority('Admin')">
			<h1 class="primary-title">Admin Dashboard</h1>
		</div>
	</div>

	<main class="main-content">
		<div>
			<label class="secondary-title main-secondary-title" sec:authorize="hasAuthority('Admin')">My Schools</label>
			<a th:href="@{/schools/new}" class="btn btn-primary">Create New School</a>
		</div>
		<th:block th:each="school : ${schools}">
			<a th:href="@{/schools/{schoolId}(schoolId=${school.schoolId})}" class="service-link">
				<div class="service-row" onclick="window.location.href='/schools/${school.schoolId}'">
					<div class="service-info">
						<label class="job-title">[[${school.schoolName}]]</label>
					</div>
					<div class="service-info service-date">
						<label th:text="${school.city + ', ' + school.state}">City/State</label>
					</div>
					<div class="service-info service-status">
						<label th:text="${school.hoursRequired} + ' hours required'">Hours Required</label>
					</div>
				</div>
			</a>
		</th:block>
	</main>
</body>

</html>