<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

</html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<body class="body--grid">
	<header class="navbar">
		<a href="/dashboard/" th:href="@{/dashboard/}">
			<img class="img-logo" alt="ServiceTally Logo" th:src="@{/assets/logo-white.png}" />
		</a>
		<div class="nav-box">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/schools/}">Manage School</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/dashboard/}">View Service
						Events</a>
				</li>
				<li class="nav-item">
					<a sec:authorize="hasAuthority('Admin')" class="nav-link" th:href="@{/admin-profile/}">Edit
						Account</a>
				</li>
			</ul>
		</div>
		<div class="user-profile">
			<img class="rounded-circle" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}" />
			<label th:if="${user.firstName != null && user.lastName != null}"
				th:text="${user.firstName+' '+user.lastName}" class="display-name">
			</label>
			<label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
				class="display-name"></label>
			<a class="border-btn" onclick="window.location.href='/logout'">Logout</a>
		</div>
	</header>

	<section class="sidebar">
		<a class="btn back-btn" th:href="@{/dashboard/}">Back</a>
	</section>

	<main class="main-content">
		<div class="grid-container">
			<!-- Service Title & Status -->
			<div class="item item-row1">
				<h4 class="heading-secondary side-by-side" th:text="${serviceDetails.serviceTitle}">
					Soup Kitchen
				</h4>
				<div class="item-info service-status">
					<label th:text="@{${serviceDetails.status}}">Event Status</label>
				</div>
			</div>
			<!-- Completed by -->
			<div class="item item-column1-row2">
				<div class="content">
					<h4 class="side-by-side" th:text="${postedByProfile.firstName+' '+postedByProfile.lastName}">
						Service completed by: Adam Nestor
					</h4>
				</div>
			</div>
			<!-- Date, Location, hours served -->
			<div class="item item-column1-row3">
				<div class="content">
					<p class="side-by-side event-details"
						th:text="${'Date of Service: ' + serviceDetails.dateOfService}">
						Date of Service: 1/1/2024
					</p>
					<p class="side-by-side event-details" th:text="${serviceDetails.city+', '+ serviceDetails.state}">
						Mentor, Ohio
					</p>
					<p class="side-by-side event-details" th:text="${serviceDetails.hoursServed} + ' hours served'">
						2 hours served
					</p>
				</div>
			</div>
			<!-- Description -->
			<div class="item item-column2">
				<div class="content">
					<label class="heading-description"> Description </label>
					<div class="description-content" th:utext="${serviceDetails.descriptionOfEvent}"></div>
				</div>
			</div>
			<!--  Buttons -->
			<div class="item item-row6">
				<div class="action-btns">
					<div class="side-by-side">
						<form sec:authorize="hasAuthority('Student')"
							th:action="@{/dashboard/edit/{id}(id=${serviceDetails.eventId})}" method="get">
							<button class="formbtn edit-btn" type="submit">Edit Service</button>
						</form>
					</div>
					<div class="side-by-side">
						<form sec:authorize="hasAuthority('Student')"
							th:action="@{/dashboard/deleteEvent/{id}(id=${serviceDetails.eventId})}" method="post">
							<button class="formbtn delete-btn" type="submit">Delete Service</button>
						</form>
					</div>
					<div sec:authorize="hasAuthority('Admin')" class="side-by-side update-status-box">
						<form method="post" th:action="@{'/service-details/' + ${serviceDetails.eventId}}">
							<div class="select-container">
								<select class="select-box status-dropdown" id="status" name="status">
									<option value="">Select Status</option>
									<option th:each="statusOption : ${statusOptions}" th:value="${statusOption.name()}"
										th:text="${statusOption.name()}"
										th:selected="${statusOption.name() == statusFilter}"></option>
								</select>
							</div>
							<button class="formbtn" type="submit">Update Status</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/js/script.js}"></script>
</body>

</html>