<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"></html>>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
  </head>

  <body>
    <header class="navbar">
      <img class="img-logo" src="/assets/Logo5.png" alt="ServiceTally Logo" th:src="@{/assets/Logo5.png}" />
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              sec:authorize="hasAuthority('Admin')"
              class="nav-link"
              th:href="@{/school/}"
              >Manage School</a
            >
          </li>
          <li class="nav-item">
            <a
              sec:authorize="hasAuthority('Admin')"
              class="nav-link"
              th:href="@{/dashboard/}"
              >View Service Events</a
            >
          </li>
          <li class="nav-item">
            <a
              sec:authorize="hasAuthority('Admin')"
              class="nav-link"
              th:href="@{/admin-profile/}"
              >Edit Account</a
            >
          </li>
        </ul>
      </div>
      <!--<div>
        <img
          class="rounded-circle"
          th:if="${user.photosImagePath!=null}"
          th:src="@{${user?.photosImagePath}}"
        />
        <label
          th:if="${user.firstName != null && user.lastName != null}"
          th:text="${user.firstName+' '+user.lastName}"
          class="display-name"
        >
        </label>
        <label
          th:unless="${user.firstName != null && user.lastName != null}"
          th:text="${username}"
          class="display-name"
        ></label>
        <a class="logout" onclick="window.location.href='/logout'">Logout</a>
      </div>-->
    </header>

    <section class="sidebar"></section>

    <main class="main-content">
      <div>
        <div class="title">
          <h1 class="side-by-side primary-title">Service Details</h1>
          <a class="side-by-side btn-back">Back to Search Results </a>
        </div>
        <div>
          <div>
            <h4
              class="secondary-title side-by-side"
              th:text="${serviceDetails.serviceTitle}"
            >
              Soup Kitchen
            </h4>
            <p
              class="side-by-side"
              th:text="${serviceDetails.city+', '+ serviceDetails.state}"
            >
              Mentor, Ohio
            </p>
          </div>
          <div>
            <h3
              class="side-by-side"
              th:text="${'Service completed by: ' + user.firstName+' '+user.lastName}"
            >
              Service completed by: Adam Nestor
            </h3>
            <p
              class="side-by-side"
              th:text="${'Date of Service: ' + serviceDetails.dateOfService}"
            >
              Date of Service: 1/1/2024
            </p>
            <p
              class="side-by-side"
              th:text="${serviceDetails.hoursServed} + ' hours served'"
            >
              2 hours served
            </p>
          </div>
        </div>
        <div>
          <label class="secondary-title"> Description of Service </label>
          <div th:utext="${serviceDetails.descriptionOfEvent}"></div>
        </div>
        <div class="btns">
          <div class="side-by-side">
            <form
              sec:authorize="hasAuthority('Student')" 
              th:action="@{/dashboard/edit/{id}(id=${serviceDetails.eventId})}"
              method="get"
            >
              <button class="" type="submit">Edit Service</button>
            </form>
          </div>
          <div class="side-by-side">
            <form
              sec:authorize="hasAuthority('Student')"
              th:action="@{/dashboard/deleteEvent/{id}(id=${serviceDetails.eventId})}"
              method="post"
            >
              <button class="" type="submit">Delete Service</button>
            </form>
          </div>
          <div class="side-by-side">
            <form
              sec:authorize="hasAuthority('Admin')"
              th:action=""
              method="post"
            >
              <button class="" type="submit">Update Status</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
